#home{
        position: relative;
        overflow: hidden;
        min-height: calc(100vh - 84px);
        padding: 8rem 0 0;

        @media  (max-width: 767px){
                padding: 3rem 0 0;
        }
                
        .banner_image{
                position: absolute;
                overflow: hidden;
                background: url('../../assets/banner/banner.png') no-repeat center center;
                background-size: cover;
                top:0;
                z-index: 1;
                width:150%;
                height:150%;
                min-height: calc(100vh - 84px);
                transform: scale(1.1);
                animation: wave 3s linear infinite;

                &:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        min-height: 100%;
                        left: 0;
                        right: 0;
                        z-index: 2;
                        background: var(--dark-layer-color);
                }
        }
                .banner_style_1{
                        display: flex;
                        align-items: center;
                        box-shadow: 0 1rem 3rem rgb(0 0 0 / 12%);
                        background-color: var(--bg-color);
                        position: absolute;
                        right: 32px;
                        bottom: -28px;
                        padding: 15px 20px;
                        border-radius: 8px;
                        width: max-content;
                        height: max-content;

                        & h4{
                                margin: 0;
                                font-size: 1.286rem;
                        }

                        & svg{
                                line-height: 40px;
                                margin-right: 15px;
                                text-align: center;
                                width: 20px;
                                height: 20px;
                                border-radius:50% ;

                                & path{
                                        fill:var(--green-color);
                                }
                        }
                }
                .banner_style_2{
                        right: 0;
                        left: 0;
                        bottom: -100px;

                        & svg{
                                & path{
                                        fill:var(--primary-color);
                                }
                        }
                }
                .banner_style_3{
                        right: 0;
                        left: -119px;
                        bottom: 0px;
                        top:26px;

                        & svg{
                                & path{
                                        fill:var(--blue-color);
                                }
                        }

                        @media (max-width:992px) {
                                left:-20px;
                                
                        }
                }

        }
}

@keyframes wave {
        0%,
        100%{
                transform:translate(0px,0px);
        }
        50%{
                transform: translate(-10px,-10px);
        }
}
