#home {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 84px);
    padding: 0;

    .banner_image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: calc(100vh - 84px);

        background: url('../../assets/banner/banner.png') no-repeat center center;
        background-size: cover;
    }
}
