#home {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 84px);
    padding: 8rem 0 0;

    @media (max-width: 767px) {
        padding: 3rem 0 0;
    }

    .banner_image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: calc(100vh - 84px);

        background: url('../../assets/banner/banner_img.png') no-repeat center center;
        background-size: cover;

        z-index: 1;
    }

    .banner_outer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 3;

        @media (max-width: 992px) {
            flex-direction: column-reverse;
        }

        .col {
            width: calc(100% / 2 - 15px);
            position: relative;

            @media (max-width: 992px) {
                width: fit-content;
                padding: 2rem;
            }

            @media (max-width: 767px) {
                padding: 1.5rem;
            }
        }

        .title {
            width: 80%;
            font-size: 4rem;
            line-height: 5rem;
            font-weight: 200;
            margin-bottom: 1rem;
            text-transform: uppercase;

            span {
                font-weight: 800;
            }

            @media (max-width: 992px) {
                width: 100%;
                margin-top: 10rem;
                text-align: center;
                line-height: 4rem;
            }

            @media (max-width: 767px) {
                font-size: 2.5rem;
            }
        }

        p {
            width: 80%;
            margin: 0;
            font-size: 1.143rem;
            line-height: 2rem;
            color: var(--font-color);

            @media (max-width: 992px) {
                width: 100%;
                text-align: center;
            }
        }
    }
}
