#contact {
  padding: 3rem 0;
}

#contact .contact_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  #contact .contact_wrapper {
    justify-content: center;
    flex-direction: column;
  }
}

#contact .contact_col {
  width: calc(100% / 2 - 1rem);
  padding: 1rem;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  #contact .contact_col {
    width: 100%;
  }
}

#contact .input_wrapper {
  width: 100%;
  display: flex;
}

#contact .input_wrapper .form-control {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  font-size: 1.0714rem;
  padding: 0.7143rem 1.4286rem;
  border-radius: 0.5714rem;
  margin-bottom: 3rem;
}

#contact .input_wrapper textarea {
  width: 100%;
  display: block;
  background-color: transparent;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  font-size: 1.0714rem;
  padding: 0.7143rem 1.4286rem;
  border-radius: 0.5714rem;
  min-height: 7.1429rem;
}

#contact .input_wrapper .form-control:hover,
#contact .input_wrapper textarea:hover,
#contact .input_wrapper .form-control:focus,
#contact .input_wrapper textarea:focus {
  border-color: blue;
  outline: none;
}

#contact .btn_wrapper {
  margin-top: 2rem;
}

#contact .contact_image {
  position: relative;
}

@media (max-width: 1024px) {
  #contact .contact_image {
    right: 0;
  }
}

#contact .contact_image img {
  border-radius: 2.1429rem;
  position: relative;
  z-index: 2;
  max-width: 85%;
}
